<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src='filter.js'></script>
  </head>
  <body ng-app="app">
    <div ng-controller="TestCtrl as test">
    <input type="text" ng-model="test.myString"/>
    <h2>{{ test.myString | capitalize }}</h2>
    <label for="search"> Search List:</label>
    <input type="text" ng-model="search" name="search"/>
    <p ng-repeat="person in test.people | filter: search">
      {{person.name}}
    </p>
      </div>
  </body>
</html>
