html, body {
  height: 100%;
  margin: 0;
}

h1 {
  padding: 20% 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

strong {
  color: #fff;
}

section {
  height: 100%;
  color: white;
  position: relative;
  text-align: center;
}
section .inner {
  margin: 0 auto;
  max-width: 85%;
}

section#one {
  background-color: #0089cd;
}

section#two {
  background-color: #00679a;
}

section#three {
  background-color: #009ae7;
}

section#four {
  background-color: #00679a;
  transition: all 0.4s linear;
}
section#four.is-active {
  background-color: #222222;
}
